@import url('https://fonts.googleapis.com/css?family=Poiret+One');
body {
    font-family: 'poiret one' , sans-serif;
    font-size: large;
}
.social img {
width: 35px;
position: relative;
}
ul {
    display: inline;
    text-align: center;
}
.nav {
    text-align: center;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
}
li {
    display: inline;
}
p {
display: inline-block;
text-align: center;
}
#nav {
    text-align: center;
    padding left: 20px;
}
.nav {
    padding-left: 30px;
    padding-right: 30px;
}